
  #cryton-container {
    height: 100vh; 
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  #cryton-iframe {
    flex: 1; 
    border: none;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

